<div id="classForm">
    <h1>Create a class</h1>
    <form action="/classes" method="POST">
        <label for="className">Class name</label>
        <input type="text" name="name" id="className">
        <br>
        <label for="instructorName">Instructor name</label> 
        <input type="text" name="instructor" id="instructorName">
        <br>
        <button type="Submit" class="makeButton">Create class</button>
    </form>
</div>
