<form action="/classes/{{course._id}}/students" method="POST" id="createStudent" style="margin-left:4%;">
    <h1>Create Assignment</h1> 
    <label for="studentName">Student name</label>
    <input type="text" name="name" id="studentName" required>
    <br>
    <button type="Submit" class="makeButton">Add student</button>
</form>



