<h1>Make Dash</h1>
<div class="classes">
  {{#each classes}}
    <a href="/class/{{this.id}}">
      <div class="class">
        <div class="class-picture"></div>
        <h1>{{this.name}}</h1>
        <h2>{{this.instructor}}</h2>
      </div>
    </a>
  {{/each}}
</div>
